@import "../../styles/base.scss";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.center {
  width: 130px;
}

@media (max-width: 800px) {
  .logo {
    flex-direction: column;
    padding-left: 0px;
  }

  .center {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .logo {
    background-size: cover;
  }

  .center {
    width: 100px;
  }
}
